<body>
  <h1>To-do-list</h1>

  <fieldset>
    <div class="tache">
      <input type="checkbox" id="tache1" name="" value="tache1">
      <label for="tache1">Tâche 1</label>
    </div>
    <div class="tache">
      <input type="checkbox" id="tache2" name="" value="tache2">
      <label for="tache2">Tâche 2</label>
    </div>
    <div class="tache">
      <input type="checkbox" id="tache3" name="" value="tache3">
      <label for="tache3">Tâche 3</label>
    </div>
    <div class="tache">
      <input type="checkbox" id="tache4" name="" value="tache4">
      <label for="tache4">Tâche 4</label>
    </div>
    <div class="tache">
      <input type="checkbox" id="tache5" name="" value="tache5">
      <label for="tache5">Tâche 5</label>
    </div>
  </fieldset>

</body>